<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>18</key>
		<string>女</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>女</string>
		<key>21</key>
		<string>男</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>男</string>
		<key>25</key>
		<string>女</string>
		<key>26</key>
		<string>男</string>
		<key>27</key>
		<string>女</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>男</string>
		<key>31</key>
		<string>男</string>
		<key>32</key>
		<string>男</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>男</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>女</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>女</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>男</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>男</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>女</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>女</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>女</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>男</string>
	</dict>
	<dict>
		<key>18</key>
		<string>女</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>女</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>男</string>
		<key>23</key>
		<string>女</string>
		<key>24</key>
		<string>男</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>男</string>
		<key>27</key>
		<string>女</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>男</string>
		<key>32</key>
		<string>男</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>男</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>女</string>
		<key>45</key>
		<string>男</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>女</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>男</string>
		<key>25</key>
		<string>女</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>男</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>女</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>女</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>女</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>女</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>男</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>女</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>女</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>女</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>女</string>
		<key>24</key>
		<string>男</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>男</string>
		<key>27</key>
		<string>女</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>女</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>女</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>女</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>男</string>
		<key>25</key>
		<string>女</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>女</string>
		<key>37</key>
		<string>女</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>女</string>
		<key>45</key>
		<string>男</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>男</string>
		<key>23</key>
		<string>女</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>男</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>男</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>女</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>女</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>男</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>女</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>女</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>女</string>
		<key>45</key>
		<string>男</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>男</string>
		<key>20</key>
		<string>女</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>男</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>女</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>女</string>
		<key>35</key>
		<string>女</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>男</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>男</string>
		<key>45</key>
		<string>女</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>女</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>男</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>女</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>男</string>
		<key>31</key>
		<string>女</string>
		<key>32</key>
		<string>女</string>
		<key>33</key>
		<string>女</string>
		<key>34</key>
		<string>男</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>女</string>
		<key>38</key>
		<string>男</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>男</string>
		<key>41</key>
		<string>女</string>
		<key>42</key>
		<string>男</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>女</string>
		<key>45</key>
		<string>男</string>
	</dict>
	<dict>
		<key>18</key>
		<string>男</string>
		<key>19</key>
		<string>女</string>
		<key>20</key>
		<string>男</string>
		<key>21</key>
		<string>女</string>
		<key>22</key>
		<string>女</string>
		<key>23</key>
		<string>女</string>
		<key>24</key>
		<string>女</string>
		<key>25</key>
		<string>男</string>
		<key>26</key>
		<string>女</string>
		<key>27</key>
		<string>男</string>
		<key>28</key>
		<string>女</string>
		<key>29</key>
		<string>女</string>
		<key>30</key>
		<string>男</string>
		<key>31</key>
		<string>男</string>
		<key>32</key>
		<string>男</string>
		<key>33</key>
		<string>男</string>
		<key>34</key>
		<string>男</string>
		<key>35</key>
		<string>男</string>
		<key>36</key>
		<string>男</string>
		<key>37</key>
		<string>男</string>
		<key>38</key>
		<string>女</string>
		<key>39</key>
		<string>女</string>
		<key>40</key>
		<string>女</string>
		<key>41</key>
		<string>男</string>
		<key>42</key>
		<string>女</string>
		<key>43</key>
		<string>男</string>
		<key>44</key>
		<string>女</string>
		<key>45</key>
		<string>男</string>
	</dict>
</array>
</plist>
